<div style="display: none;" id="bottom-links-{{id}}">
    <p>
        <a href="{{tests_url}}" target="_blank"> Tests </a>
    </p>
    <p>
        <a href="{{assignments_url}}" target="_blank"> Opdrachten </a>
    </p>
    <p>
        <a href="{{grades_url}}" target="_blank"> Scores </a>
    </p>
    <br>
    <p>
        <a href="{{content_url}}" target="_blank"> Inhoud </a>
    </p>
    <p>
        <a href="{{groups_url}}" target="_blank"> Groepen </a>
    </p>
    <p>
        <a href="{{announcements_url}}" target="_blank"> Aankondigingen </a>
    </p>
    <br>
    <p>
        <a href="{{vtk_url}}" target="_blank"> VTK </a>
    </p>
</div>